In [67]:
import pandas as pd;
import numpy as np;
import math;

In [134]:
#df1 = pd.read_csv("2020_US_weekly_symptoms_dataset.csv");
#df2 = pd.read_csv("aggregated_cc_by.csv");
df3 = pd.read_csv("mobility_report/2020_US_Region_Mobility_Report.csv");

In [135]:
df1_nan_cols = df1.isnull().sum().to_frame()
df1_nan_cols.reset_index(level=0, inplace=True)
df1_nan_cols.columns=["features", "num_nan"]
df1_nan_cols_copy = df1_nan_cols.copy

In [136]:
df1_nan_cols = df1_nan_cols.sort_values(by="num_nan", ascending=False)
df1_nan_cols

                    features  num_nan
429     symptom:pancreatitis      608
239        symptom:Knee Pain      608
249       symptom:Lymphedema      608
248  symptom:Low-grade fever      608
247    symptom:Low back pain      608
..                       ...      ...
7                       date        0
4          sub_region_1_code        0
3               sub_region_1        0
2             country_region        0
0     open_covid_region_code        0

[430 rows x 2 columns]

In [178]:
df1_nan_cols = df1_nan_cols.loc[df1_nan_cols['num_nan'] == 608]
df1_nan_cols

                          features  num_nan
429           symptom:pancreatitis      608
239              symptom:Knee Pain      608
249             symptom:Lymphedema      608
248        symptom:Low-grade fever      608
247          symptom:Low back pain      608
..                             ...      ...
132         symptom:Encephalopathy      608
113           symptom:Desquamation      608
118              symptom:Dizziness      608
116  symptom:Diabetic ketoacidosis      608
122           symptom:Dysmenorrhea      608

[303 rows x 2 columns]

In [5]:
df1 = df1.dropna(how='all', axis=1)

NameError: name 'df1' is not defined

In [229]:
us_daily = df2.loc[df2["region_name"] == "United States of America"]

In [4]:
#us_daily = us_daily.dropna(how='all', axis=1)

In [231]:
us_daily = us_daily.replace(np.nan,0)

In [274]:
us_daily['date'] = us_daily['date'].astype('datetime64[ns]')

In [275]:
weekly_data = us_daily.groupby("open_covid_region_code").resample('W-Mon', label='right', closed = 'right', on='date').sum().reset_index().sort_values(by='date')

In [277]:
us_daily = weekly_data

In [283]:
df1.to_csv("2020_US_weekly_symptoms_dataset.csv")

In [ ]:
us_daily.to_csv("us_daily_ds2.csv")

In [128]:
df3[ df3['sub_region_1'] == np.nan ]

Empty DataFrame
Columns: [country_region_code, country_region, sub_region_1, sub_region_2, metro_area, iso_3166_2_code, census_fips_code, date, retail_and_recreation_percent_change_from_baseline, grocery_and_pharmacy_percent_change_from_baseline, parks_percent_change_from_baseline, transit_stations_percent_change_from_baseline, workplaces_percent_change_from_baseline, residential_percent_change_from_baseline]
Index: []

In [138]:
df3 = df3.drop(df3.head(2).index)
df3 = df3.reset_index(drop=True)

In [145]:
d = df3.drop(df3[pd.isna(df3["sub_region_2"]) == False].index)
d

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-20,1.0,0.0,4.0,0.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-21,2.0,-2.0,4.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567743,US,United States,Wyoming,NaN,NaN,US-WY,NaN,2020-09-26,-3.0,13.0,169.0,33.0,-8.0,1.0
567744,US,United States,Wyoming,NaN,NaN,US-WY,NaN,2020-09-27,1.0,9.0,131.0,28.0,-10.0,1.0
567745,US,United States,Wyoming,NaN,NaN,US-WY,NaN,2020-09-28,2.0,13.0,165.0,26.0,-17.0,2.0
567746,US,United States,Wyoming,NaN,NaN,US-WY,NaN,2020-09-29,2.0,12.0,163.0,24.0,-16.0,2.0
567747,US,United States,Wyoming,NaN,NaN,US-WY,NaN,2020-09-30,2.0,14.0,158.0,22.0,-19.0,1.0

In [146]:
d['date'] = d['date'].astype('datetime64[ns]')
d = d.groupby(["country_region","sub_region_1"]).resample('W-Mon', on='date').sum().reset_index().sort_values(by='date')

In [147]:
d

,country_region,sub_region_1,date,metro_area,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,United States,Alabama,2020-02-17,0.0,0.0,8.0,0.0,49.0,17.0,-16.0,4.0
408,United States,Idaho,2020-02-17,0.0,0.0,24.0,10.0,65.0,0.0,-27.0,3.0
1326,United States,Rhode Island,2020-02-17,0.0,0.0,23.0,-11.0,118.0,-4.0,-31.0,6.0
374,United States,Hawaii,2020-02-17,0.0,0.0,11.0,1.0,48.0,6.0,-49.0,10.0
1360,United States,South Carolina,2020-02-17,0.0,0.0,16.0,4.0,67.0,24.0,-16.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1325,United States,Pennsylvania,2020-10-05,0.0,0.0,-24.0,-7.0,63.0,-70.0,-63.0,17.0
1699,United States,Wisconsin,2020-10-05,0.0,0.0,-29.0,-2.0,163.0,-35.0,-54.0,18.0
373,United States,Georgia,2020-10-05,0.0,0.0,-25.0,-11.0,10.0,-65.0,-62.0,17.0
135,United States,Arkansas,2020-10-05,0.0,0.0,-10.0,-2.0,151.0,-7.0,-44.0,8.0
1733,United States,Wyoming,2020-10-05,0.0,0.0,4.0,26.0,321.0,46.0,-35.0,3.0

In [148]:
d = d.sort_index()

In [150]:
d.to_csv("mobility_report/us_mobility_weekly.csv")

In [149]:
d

,country_region,sub_region_1,date,metro_area,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,United States,Alabama,2020-02-17,0.0,0.0,8.0,0.0,49.0,17.0,-16.0,4.0
1,United States,Alabama,2020-02-24,0.0,0.0,2.0,-5.0,39.0,42.0,9.0,6.0
2,United States,Alabama,2020-03-02,0.0,0.0,86.0,44.0,174.0,83.0,13.0,-8.0
3,United States,Alabama,2020-03-09,0.0,0.0,77.0,49.0,217.0,68.0,18.0,-4.0
4,United States,Alabama,2020-03-16,0.0,0.0,28.0,138.0,210.0,46.0,-9.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
1729,United States,Wyoming,2020-09-07,0.0,0.0,64.0,180.0,0.0,239.0,-185.0,13.0
1730,United States,Wyoming,2020-09-14,0.0,0.0,16.0,103.0,982.0,169.0,-131.0,8.0
1731,United States,Wyoming,2020-09-21,0.0,0.0,35.0,116.0,1652.0,245.0,-113.0,3.0
1732,United States,Wyoming,2020-09-28,0.0,0.0,-1.0,86.0,1222.0,199.0,-105.0,13.0
1733,United States,Wyoming,2020-10-05,0.0,0.0,4.0,26.0,321.0,46.0,-35.0,3.0